<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login page</title>
  </head>
  <body>
    <%- include('common/header'); %>
    <center><h2>Login Page</h2></center>
  </body>
</html>
